<h1>Member Login</h1>

<%= form_tag '/login' do %>

  Email:
    <br>
  <i class="glyphicon glyphicon-user"></i>
    <%= text_field_tag :email %>
      <br>
  Password: 
    <br>
      <i class="glyphicon glyphicon-lock"></i>
    <%= password_field_tag :password %>
      <br>
  <%= submit_tag "Submit" %>

<% end %>